doctype html
html
  title Log analysis
  head
    style(type='text/css').
      <!--
      .divshowid{
      text-align:center;
      color:#83AF9B;
      }
      .div4analysisbtn{
      text-align:center;
      font-size:30px;
      color:#83AF9B;
      }
      .div4welcome{
      margin: 50px 0px 0px 20px;
      text-align:center;
      font-size:100px;
      color:#83AF9B;
      }
      .div4input{
      text-align:center;
      font-size:30px;
      color:#83AF9B;
      }
      .div4ahref{
      margin: 10px 0px 0px 10px;
      text-align:center;
      color:#D8D8D8;
      font-size: 9pt;
      }
      a:link {color: #A4A4A4;}
      a:visited {color : #A4A4A4;}
      a:hover {color : black;}
      a:active {color : #A4A4A4;}
      //-->
    script(type='text/javascript').
      
      
  body
    | Welcome -----  
    .divshowid
      div 안녕하세요! #{id}님!
    .div4ahref
      a(href='#') Setting | &nbsp;&nbsp;
      a(href='#') Logout
    .div4welcome
      span
        | Previous Log Analysis!
    .div4input 
        | #{id}님의 이전 분석 기록
        br
        br
    .div4input
      a(href='#') 2017.07.06  &nbsp;&nbsp;&nbsp;
      a(href='#') 2017.08.19  &nbsp;&nbsp;&nbsp;
      a(href='#') 2017.10.07
      br
      br
      br
    .div4ahref
      a(href='#') Save as ".jpg" | &nbsp;&nbsp;
      a(href='#') Save as ".exec"
script.
    function show_eventnumber() {
        window.location.href = '/analysis_eventnumber';
        return false;
    }
    function show_ip() {
        window.location.href = '/analysis_ip';
        return false;
    }
    function show_proto() {
        window.location.href = '/analysis_proto';
        return false;
    }
    function show_page() {
        window.location.href = '/analysis_page';
        return false;
    }
    function show_status() {
        window.location.href = '/analysis_status';
        return false;
    }